
.grid-container {
  display: grid;
  grid-row-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 0px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.dwbowling {
  float: right;
  width: 400px;
  height: 250px;
  border-style: solid;
  border-color: #FE5A5A;
}

.dwtrack {
float: left;
width: 400px;
height: 250px;
border-style: solid;
border-color: #FE5A5A;
}

.bowlinglane{
  float: left;
  width: 400px;
  height: 250px;
  border-style: solid;
  border-color: #FE5A5A;
}

.track{
  float: left;
  width: 400px;
  height: 250px;
  border-style: solid;
  border-color: #FE5A5A;
}

.tracklanes{
  float: left;
  width: 400px;
  height: 250px;
  border-style: solid;
  border-color: #FE5A5A;
}

.football1{
  float: right;
  width: 400px;
  height: 250px;
  border-style: solid;
  border-color: #FE5A5A;
}

.football2{
  float: left;
  width: 400px;
  height: 250px;
  border-style: solid;
  border-color: #FE5A5A;
}

.wrestling1{
  float: right;
  width: 400px;
  height: 250px;
  border-style: solid;
  border-color: #FE5A5A;
}

.wrestling2{
  float: left;
  width: 400px;
  height: 250px;
  border-style: solid;
  border-color: #FE5A5A;
}
.baseball1{
  float: right;
  width: 400px;
  height: 250px;
  border-style: solid;
  border-color: #FE5A5A;
}

.baseball2{
  float:left;
  width: 400px;
  height: 250px;
  border-style: solid;
  border-color: #FE5A5A;
}
.strike{
  float: center;
  width: 400px;
  height: 250px;
  border-style: solid;
  border-color: #FE5A5A;
}
