

h2 {
text-align:
}

h1 {
  font-size: 70px;
  text-align: center;
  text-color: black;
}

.topbar{
  background-color:#FE5A5A ;
   padding-top: 0px;

}

.home-color{
background-color:#2d383c;
}
.bowling-color{
background-color:#2d383c;
}
.track-color{
background-color:#2d383c;
}
.football-color{
background-color: #2d383c;
}
.wrestling-color{
background-color: #2d383c;
}
.baseball-color{
background-color:#2d383c ;
}

header{
  padding-top: 33px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 45px;
}
a {
  display: block;
  font-style: italic;
  color: white;
}

a:link {
  color: white;
}

a:hover {
  color: hotpink;
}

  a:active {
  color: white;
}
a:visited {
  color: white;
}

marquee{
  background-color: #2d383c;
color: red;
font-size: 40px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FE5A5A;
  color: white;
  text-align: center;
}

 .experience{
   font-size: 30px;
   text-align: center;
 }
 .Education{
   font-size: 30px;
   text-align: center;
 }
